* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

ul img{
    width: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.form p{
    white-space: nowrap;
}

.inputtexts{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.inputtexts input{
    width: 50vw;
}

.botoesform{
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}

.botoesform input[id="botaomais"]{
    width: 2rem;
}

.gerador{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 85%;
    margin: 1rem auto;
}

.divex{
    position: relative;
}

.listadepalavras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    border: 2px solid black;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    margin: 2rem auto;
    overflow: hidden;
}

.atividadestitulo{
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.3rem 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: -1.3rem;
}

.atividade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    border: 2px solid black;
    padding: 1rem 0;
    overflow: hidden;
    /* background-color: blue; */
}

.atividade h3{
    border: 2px solid black;
    border-radius: 0.4rem;
    padding: 0.4rem;
    text-transform: uppercase;
    margin: 0.7rem 0;
}


.sliderAtividade{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem auto;
    padding: 0 2rem;
    width: 100%;
    align-items: start;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.sliderAtividade p{
    
    scroll-behavior: smooth;
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0 0.6rem;
    font-size: 0.8rem;
}

.linha1 {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    gap: 1rem;
}
.linha1 h2{
    white-space: nowrap;
    font-size: 2rem;
}
.verbos{
    display: flex;
    flex-grow: 1;
    height: 3rem;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}


.palavras{
    display: flex;
    width: 100%;
    height: 3rem;
    border: 2px solid black;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
}

.palavras h3{
    white-space: nowrap;
    margin: 0 1rem;
}


.botaogerador{
    display: flex;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem auto;
    background-color: white;
}

.botaogerador img{
    width: 2.5rem;
    height: 2.5rem;
    
}

.pomodorobanner{
    display: flex;
    flex-direction: column;
    /* width: 20rem;
    height: 20rem; */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.tempo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

#temporizador{
    font-size: 4rem;
    border: 2px solid black;
    padding: 0.3rem 1rem;
    border-radius: 8px;
}

.botoes{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.botoes button{
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    
    
}

button img{
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;

}

.efeitooverflowpalavra{
    animation: slideleftright 4s linear infinite ;
}

@keyframes slideleftright {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-20%);
    }

    66% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
}