* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}

ul img{
    width: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.form p{
    white-space: nowrap;
}

.inputtexts{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.inputtexts input{
    width: 50vw;
}

.botoesform{
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}

.botoesform input[id="botaomais"]{
    width: 2rem;
}

.gerador{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.palavras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
}

.palavra{
    height: 3rem;
    width: 80%;
    background-color: grey;
    border-radius: 20px;
}

.divex{
    position: relative;
}

.listadepalavras{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    border: 2px solid black;
    gap: 1rem;
    width: 90%;
    height: fit-content;
    margin: 2rem auto;
    overflow-x: hidden;
    
}

.atividadestitulo{
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0.3rem 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: -1.3rem;
}

.atividade{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sliderAtividade{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.6rem;
}

.sliderAtividade p{
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0 0.6rem;
    font-size: 0.8rem;
}





